# Imports

In [2]:
import pandas as pd
import numpy as np
import sys
from pathlib import Path

# Helper Functions

In [24]:
def load_data(folder_from_parent:str, filename:str):

    path = str(Path.cwd().parents[0] / folder_from_parent)
    path_ = path + '/' + filename

    try:

        if '.xlsx' in filename:
            df = pd.read_excel(path_)

        else:
            df = pd.read_csv(path_)
        
    except FileNotFoundError:
        print('File is missing.')

    return df

# Load data

In [25]:
df = load_data('data', 'small_juro_pre.xlsx')

In [26]:
df.head()

        Data  Abertura   Máxima   Mínima  Fechamento      DATA   PRÉ 10YRS
0 2022-03-02   2319.07  2540.46  2178.15     2532.16 2022-03-31   11.720000
1 2022-02-01   2446.03  2468.00  2244.38     2319.07 2022-02-25   11.630000
2 2022-01-03   2365.28  2449.23  2074.96     2446.03 2022-01-31   11.361909
3 2021-12-01   2278.72  2476.86  2211.72     2365.24 2021-12-31   10.713180
4 2021-11-01   2332.01  2628.90  2225.65     2278.71 2021-11-30   11.349279